[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/njoy/catch-adapter.git
[submodule "dependencies/variant-adapter"]
	path = dependencies/variant-adapter
	url = https://github.com/njoy/variant-adapter.git
[submodule "dependencies/range-v3-adapter"]
	path = dependencies/range-v3-adapter
	url = https://github.com/njoy/range-v3-adapter.git
[submodule "dependencies/valuable-adapter"]
	path = dependencies/valuable-adapter
	url = https://github.com/njoy/valuable-adapter.git
